.page {
}

.footer {
  width: 50%;
  padding: 20px;
  text-align: center;
  border-top: 1px solid #dee2e6;
  margin: auto; /* Pushes footer to the bottom */
  color: white;
  grid-row: 2;
}

.signature {
  font-family: "Cursive", sans-serif;
  color: white;
  font-size: 14px;
}

.footer .signature a {
  color: #007bff;
  text-decoration: none;
}

.footer .signature a:hover {
  text-decoration: underline;
}
