/* iPhone 13 Pro Max Portrait Mode */
@media (max-width: 850px) {
  /* Styles for iPhone 13 Pro Max in portrait mode */
  .index-banner {
    background: black;
    display: grid;
    margin: auto;
    color: white;
  }

  .index-banner img {
    margin: auto;
    width: 80%;
    height: auto;
  }

  .index-banner .button-div {
    display: block;
    margin: 100px auto;
  }

  .index-banner .button-div a {
    color: white;
    margin: auto 10px;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: white;
    color: black;
    text-decoration: none;
    font-weight: bold;
  }

  .photo-div img {
    display: block;
    width: 80%;
    height: auto;
    margin: 10px auto;
  }
}

@media (min-width: 1024px) {
  .index-banner {
    background: black;
    color: white;
  }

  .index-banner img {
    display: block;
    margin: auto;
    height: 35rem;
  }

  .index-banner .button-div {
    display: block;
    margin: 100px auto;
    text-align: center;
  }

  .index-banner .button-div a {
    color: white;
    margin: auto 20px;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: white;
    color: black;
    text-decoration: none;
    font-weight: bold;
  }

  .photo-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin: 40px auto;
    gap: 20px;
  }

  .photo-div img {
    width: 600px;
    height: 400px;
    display: block;
  }
}
